<form method="get" action="/quizes">
  <table>	
	<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
          <td><a href="quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %> (<%= quizes[i].indicetematico %>)</a></td>
	  <td><a href="quizes/<%=quizes[i].id %>/edit"><button type="button">editar</button></a></td>
	  <td>
		<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		  <button type="summit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
			borrar
		  </button>
 		</form>
	  </td>
        </tr>
	<% }%>
	<form method="get" action="/quizes">
        <tr> <td>Buscar preguntas que contengan:  %> <p>
  	     <input type="text" name="search" value="texto_a_buscar_en_preguntas"/>
  	     <input type="submit" value="Enviar"></p></td>
 	</tr>
	<form method="get" action="/quizes">
	<tr> 
	   <td> <a href="/quizes/new"><button type="button">Crear pregunta</button></a> </td>
        </tr>
  </table>
  


